<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Ecole Superieure Privee d’Ingenierie et de Technologies 
               </h4>
               <ul>
                <li>The High School was mainly focus on the bases of computer science  , web development , and cyber security  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012 - 2016</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">License in Embedded Electronics</div>
               <h4 class="category">Issat Mateur, The University of Carthage
               </h4>
               <ul>
                <li>
                  The Universite was mainly focus on the bases of electronics  , computer science , and network
                                  </li>
                                  <li>
                                     There was also a good base on electronics, computer science and network.
                                  </li>
                               
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2012</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">March 20 Mateur Bizerte 
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , technical, Social Science, Litrature and Languages.
                </li>
               
           
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>